# Byte-compiled / optimized / temporary files
__pycache__/
*.py[cod]

# Virtual environment
pyenv/
venv/
env/
ENV/

# Logs
*.log
logs/

# Temporary files
*.swp


# Configuration files
*.ini

# Local development environment
.env

# Compiled Python files
*.pyc

# IDE and text editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment-specific settings
*.env

# Mac OSX Finder files
.DS_Store

# Model
*.onnx
*.pth

# Classes
classes.json

# Ignore Dockerfiles
Dockerfile
*.dockerfile
Dockerfile.*

# Ignore Docker Compose files
docker-compose.yml
docker-compose*.yml

# Ignore all YAML files
*.yml
*.yaml

# Ignore all configuration files
*.conf